/*==============================
    Fonts
==============================*/
@import url('https://fonts.googleapis.com/css2?family=Cairo');
/*==============================
    Common styles
==============================*/
body{font-family:'Cairo',sans-serif!important}
.wpfront-notification-bar-spacer, div[class^="sticky-ads-az"], div[id^="teaserad"]{display:none}
/*==============================
    Header
==============================*/
.site-header .c-sub-header-nav .c-sub-nav_wrap .c-modal_item{display:-webkit-inline-box}
.site-header .c-sub-header-nav .c-sub-nav_wrap .c-modal_item .btn-active-modal{display:flex;align-items:center;margin:0 2px}
.site-header .c-sub-header-nav .c-sub-nav_wrap .c-modal_item .btn-active-modal:before{padding:0!important;padding-left:5px!important}
.site-header .main-navigation .main-navigation_wrap{padding:15.5px 0!important}
.site-header .wrap_branding .logo img{top:-4px!important}
.site-header .main-menu a h4{margin:0!important}
/*==============================
    Reading Manga
==============================*/
.reading-manga .select-pagination .nav-links{direction:ltr}
.reading-manga .wp-manga-nav .select-view{width:auto}
.reading-manga .footer .wp-manga-nav .select-pagination{float:right}
.reading-manga .footer .wp-manga-nav.active .select-view{float:left!important}
@media (max-width:480px){
  .reading-manga .entry-header .nav-links i{width:inherit!important;top:0!important;right:90px!important}
}
@media (max-width:480px){
  .reading-manga .entry-header .entry-header_wrap{margin-right:14px}
  .reading-manga .entry-header .wp-manga-nav ol{padding-bottom:30px}
  .reading-manga .entry-header .select-view{float:none!important;margin-right:30px!important}
  .reading-manga .entry-header .wp-manga-nav.active .select-pagination{position:absolute!important}
}
